
<div class="header">
    <a href="#" class="logo">
      <div class="imagen">
      <img src="logos.png" alt="">
    </div>
        <h2 class ="SEJ EVENTOS">SEJ EVENTOS</h2>
    </a>
      <NAV class="menu">
        <a href="" class="nav-link">Home</a><a href="/events" class="nav-link">Eventos</a><a href="" class="nav-link">Sobro Nosotros</a>
      </NAV>
      <div>
      <button class="loginbtn" [hidden]="isLoggedIn">
        <a href="/login" class="nav-link">Login</a>
      </button>
      <button class="closebtn" *[hidden]="isLoggedOut">
        <a href="/login" class="nav-link">Salir</a>
      </button>
    </div>
    
  </div>


