<div class = "footercontainer">


    <div class = "footerNav">
        <ul>
           <li><a href="/home" class="nav-link">Home</a></li>
            <li><a href="" class="nav-link">Eventos</a></li>
            <li><a href="" class="nav-link">Sobre nosotros</a></li>
            <li><a href="/login" class="nav-link">Login</a></li>
            
        </ul>
    
  
      <div class = "footerBottom">
    
        <p>Copy rigth &copy;2024; Designed by <span class="designer">SEJ</span></p>
      
      </div>
    </div>
  </div>